 <div class="businesstoday_outer_wrapper video_details">
    <div class="bt_breadcrumb"> <a href="http://alpham.businesstoday.in/">Home</a> <a href="/videos">Video</a> 
     <span  [innerHtml]="btvideodetail[0].videoTitle"></span>
    </div>
    <div class="bt_video_details_container" >
    	
        <div class="video_main">
          <div id="videoplayer"></div>
        </div>
      <h1 [innerHtml]="btvideodetail && btvideodetail[0].videoTitle">
      
       </h1>
      <div class="bt_byline">
        <!-- <span *ngIf="vData.videoCourtesy==''; else elseBlock">BT Online</span>
        <span #elseBlock>{{vData.videoCourtesy}}</span>
        | {{vData.videoCreatedDate}}</div> -->
      <div class="bt_socials">
        <ul>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/facebook.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/twitter.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/gplus.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/whatsapp.jpg" alt=""></a></li>
          <li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/message.jpg" alt=""></a></li>
        </ul>
      </div>
      <div class="videoInfo" [innerHtml]="btvideodetail && btvideodetail[0].videoDescription">
       
      
      </div>
      
    </div>
    
    <div class="businesstoday_section_chunk bt_marginbtm_main">
      <div class="businesstoday_com_head">
        <h2>Section name</h2>
        <a href="#" title="more">more »</a> </div>
      <div class="businesstoday_com_thumb">
        <ul>
          <li>
            <div class="section photo_section_bt">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title="">
        <span class="video_icon_bt"></span>  
              </a> 
              
              </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>

          <li>
            <div class="section photo_section_bt">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title="">
        <span class="video_icon_bt"></span>  
              </a> 
              
              </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>


          <li>
            <div class="section photo_section_bt">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title="">
        <span class="video_icon_bt"></span>  
              </a> 
              
              </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>


          <li>
            <div class="section photo_section_bt">
              <div class="img_area"> <a href="#" title=""><img src="http://media2.intoday.in/indiatoday/images/stories/new-moshe-story_88_070517072506.jpg" alt="" title="">
        <span class="video_icon_bt"></span>  
              </a> 
              
              </div>
              <div class="text_area">
                <p><a href="#" title="7th Pay Commission: HRA 
increases up to 17 percent 
for central govt employees">7th Pay Commission: HRA 
                  increases up to 17 percent 
                  for central govt employees</a></p>
              </div>
            </div>
          </li>



        </ul>
      </div>
    </div>
   
  </div>