<div class="businesstoday_header">
    <div class="bt_top_section">
      <div class="logo-bt"><a href="" title=""><img src="http://media2.intoday.in/businesstoday/wap/2017/images/bt-logo.png" alt="Business Today" /></a></div>
      <div class="hamburger">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
    <div class="bt-dropdown_nav_container">
<div class="bt-top_search_container">

  <input type="text" class="bt-search_text" placeholder="Enter search keyword" (keyup)="onKeyup($event)" />
    <button type="button" (click)="searchPage()" class="bt-btn_search"></button>

</div>
<div class="bt-top_social_container">
  <ul><li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/facebook.jpg" alt=""></a></li><li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/twitter.jpg" alt=""></a></li><li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/gplus.jpg" alt=""></a></li><li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/whatsapp.jpg" alt=""></a></li><li><a href="#"><img src="http://media2.intoday.in/indiatoday_wap/resources/css/images/img/message.jpg" alt=""></a></li></ul>

</div>
<div class="bt-top_cont">
  <ul class="bt-topdown">
<li><a [routerLink] = "['/']" title="" >Home &raquo; </a></li>
<li><a [routerLink] = "['/section/91/1/economy.html']" title="Economy" >Economy &raquo; </a></li>
<li><a [routerLink] = "['/section/110/1/technology.html']" title="Tech" >Tech &raquo; </a></li>
<li><a [routerLink] = "['/section/31/1/corporate.html']" title="Corporate" >Corporate &raquo; </a></li>
<li><a [routerLink] = "['/section/102/1/opinion.html']" title="Opinion" >Opinion &raquo; </a></li>
<li><a [routerLink] = "['/section/111/1/markets.html']" title="Markets" >Markets &raquo; </a></li>
<li><a [routerLink] = "['/galleries']" title="Photos" >Photos &raquo; </a></li>
<li><a [routerLink] = "['/section/109/1/money.html']" title="Money" >Money &raquo; </a></li>
<li><a [routerLink] = "['/videos']" title="Videos" >Videos &raquo; </a></li>
<li><a [routerLink] = "['/section/101/1/sectors.html']" title="Industry">Industry &raquo; </a></li>
<li><a [routerLink] = "['/section/117/1/from-the-magazine.html']" title="Magazine" >Magazine &raquo; </a></li> 
</ul> 
<div class="clearfix"></div>
</div>
</div>
  </div>

