
<div class="businesstoday_navigation">
<div class="bt_nav_section">
<div class="swiper-container">
<div class="swiper-wrapper">
 <div class="swiper-slide"><a [routerLink] = "['/']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Home</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/91/1/economy.html']" title="Economy" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Economy</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/110/1/technology.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Tech</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/31/1/corporate.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Corporate</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/102/1/opinion.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Opinion</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/111/1/markets.html']" title="Markets" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Markets</a></div>
<div class="swiper-slide"><a  [routerLink] = "['/galleries']" title="Photos" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Photos</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/109/1/money.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Money</a></div>
<div class="swiper-slide"><a [routerLink] = "['/videos']" title="Videos" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Videos</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/101/1/sectors.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Industry</a></div>
<div class="swiper-slide"><a [routerLink] = "['/section/117/1/from-the-magazine.html']" title="" routerLinkActive="active_tab" [routerLinkActiveOptions]="{exact: true}">Magazine</a></div>  




</div>
</div>
</div>
</div>

    
   