  
  <div class="businesstoday_footer"> 
    
   <div class="bt-footer">
 <ul class="bt-foot">
<li><a [routerLink] = "['/']" title="" >Home &raquo; </a></li>
<li><a [routerLink] = "['/section/91/1/economy.html']" title="Economy" >Economy &raquo; </a></li>
<li><a [routerLink] = "['/section/110/1/technology.html']" title="Tech" >Tech &raquo; </a></li>
<li><a [routerLink] = "['/section/31/1/corporate.html']" title="Corporate" >Corporate &raquo; </a></li>
<li><a [routerLink] = "['/section/102/1/opinion.html']" title="Opinion" >Opinion &raquo; </a></li>
<li><a [routerLink] = "['/section/111/1/markets.html']" title="Markets" >Markets &raquo; </a></li>
<li><a [routerLink] = "['/galleries']" title="Photos" >Photos &raquo; </a></li>
<li><a [routerLink] = "['/section/109/1/money.html']" title="Money" >Money &raquo; </a></li>
<li><a [routerLink] = "['/videos']" title="Videos" >Videos &raquo; </a></li>
<li><a [routerLink] = "['/section/101/1/sectors.html']" title="Industry">Industry &raquo; </a></li>
<li><a [routerLink] = "['/section/117/1/from-the-magazine.html']" title="Magazine" >Magazine &raquo; </a></li>  
</ul> 
   

	</div>
    <div class="bt-copyright">
      <p>Copyright &copy; 2017 Living Media India Limited.</p>
    </div>
  </div>
